@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --black: #121212;
  --font-family: "Inter", sans-serif;
  --Black: #000000;
  --White: white;
  --body-color: #ffffff;
  --Poppins: "Poppins";
  --Instrument-Serif: "Instrument Serif";
  /* --font-family: "Poppins", sans-serif; */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  /* display: flex; */
  /* justify-content: center; */
}

.logo a {
  text-decoration: none;
  color: var(--black);
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 500;
  /* color:var(--black); */
}

.header{
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav {
  width: 896px;
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  background-color: rgba(224, 221, 221, 0.913);
}

.menu-head {
  display: flex;
  gap: 20px;
}

.menu-head li {
  list-style: none;
}

.menu-head li:hover {
  border-bottom: 2px solid var(--black);
}

.menu-head li a {
  text-decoration: none;
  font-family: var(--font-family);
  color: var(--black);

  font-size: 20px;
  font-weight: 500;
}

.btn-menu-ct {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: var(--black);
}

.btn-menu-ct a {
  font-family: var(--font-family);
  font-size: 15px;
  /* font-weight: 500; */
  text-decoration: none;
  color: white;
}

.outer {
  background-color: var(--body-color);
  width: 100%;
  display: flex;
  justify-content: center;
}

.middle {
  max-width: 896px;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #cecbcb 5px
      /* rgba(204, 199, 199, 0.913) 5px */
    ),
    repeating-linear-gradient(#f5f5f555, #f0f0f0);
  display: flex;
  justify-content: center;
}

.inner {
  max-width: 776px;
  width: 100%;
  padding: 0 2rem;
  background-color: var(--body-color);
}


.about{
  font-family: var(--font-family);
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.para1,.para2,.para3,.para4{
  border-bottom: 1px solid rgb(190, 188, 188);
  
}

                           /* =*************para1**********- */

.para1 h2{
  font-family: var(--font-family);
  color: var(--black);
  font-size: 2rem;
  opacity: .9;
}
.para1 p{
  font-family: var(--font-family);
  color: var(--black);
  font-size: 18px;
  padding-top: 1rem;
  opacity: .7;
  padding-bottom: 2rem;
}
                               /* =*************para2**********- */


.para2 h2{
  font-family: var(--font-family);
  color: var(--black);
  font-size: 2rem;
  opacity: .9;
}
.para2 p{
  font-family: var(--font-family);
  color: var(--black);
  font-size: 18px;
  padding-top: 1rem;
  opacity: .7;
   padding-bottom: 2rem;
    
}


                            /* =*************para3**********- */
.para3 h2{
  font-family: var(--font-family);
  color: var(--black);
  font-size: 2rem;
  opacity: .9;
}
.para3 p{
  font-family: var(--font-family);
  color: var(--black);
  font-size: 18px;
  padding-top: 1rem;
  opacity: .7;
   padding-bottom: 2rem;
}
                            /* =*************para4**********- */

.para4 h2{
  font-family: var(--font-family);
  color: var(--black);
  font-size: 2rem;
  opacity: .9;
}
.para4 p{
  font-family: var(--font-family);
  color: var(--black);
  font-size: 18px;
  padding-top: 1rem;
  opacity: .7;
   padding-bottom: 2rem;
}




.footer {
  height: 300px;
  width: 100%;
  /* background-color: black; */
  position: relative;
  font-family: var(--font-family);
}

.fbox-main {
  display: flex;
}

.fbox1 {
  height: 200px;
  width: 233px;
}
.fbox2 {
  height: 200px;
  width: 233px;

  display: flex;
  align-items: center;
  justify-content: end;
}
.fbox3 {
  height: 200px;
  width: 233px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.fmenu-head {
  display: flex;
  flex-direction: column;
  line-height: 1rem;

  gap: 20px;
}

.fmenu-head li {
  list-style: none;
}

.fmenu-head li a {
  text-decoration: none;
  font-family: var(--font-family);
  color: var(--black);

  font-size: 20px;
  font-weight: 500;
}

.footer p {
  height: 30px;
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  color: var(--black);
  display: flex;
  position: absolute;
  bottom: 0;
  align-items: center;
  justify-content: center;
}
