@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --black: #121212;
  --font-family: "Inter", sans-serif;
  --Black: #000000;
  --White: white;
  --body-color: #ffffff;
  --Poppins: "Poppins";
  --Instrument-Serif: "Instrument Serif";
  /* --font-family: "Poppins", sans-serif; */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  /* display: flex; */
  /* justify-content: center; */
}

.logo a {
  text-decoration: none;
  color: var(--black);
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 500;
  /* color:var(--black); */
}

.header{
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav {
  width: 896px;
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  background-color: rgba(224, 221, 221, 0.913);
}

.menu-head {
  display: flex;
  gap: 20px;
}

.menu-head li {
  list-style: none;
}

.menu-head li:hover {
  border-bottom: 2px solid var(--black);
}

.menu-head li a {
  text-decoration: none;
  font-family: var(--font-family);
  color: var(--black);

  font-size: 20px;
  font-weight: 500;
}

.btn-menu-ct {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: var(--black);
}

.btn-menu-ct a {
  font-family: var(--font-family);
  font-size: 15px;
  /* font-weight: 500; */
  text-decoration: none;
  color: white;
}

.outer {
  background-color: var(--body-color);
  width: 100%;
  display: flex;
  justify-content: center;
}

.middle {
  max-width: 896px;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #cecbcb 5px
      /* rgba(204, 199, 199, 0.913) 5px */
    ),
    repeating-linear-gradient(#f5f5f555, #f0f0f0);
  display: flex;
  justify-content: center;
}

.inner {
  max-width: 776px;
  width: 100%;
  padding: 0 2rem;
  background-color: var(--body-color);
}



.about P {
  text-align: center;
  margin-top: 2rem;
  color: var(--black);
  padding: 10px 0px;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 2rem;
  font-family: var(--font-family);
  /* background-color: rgba(204, 199, 199, 0.913); */
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 100%;
  flex-direction: row;
  gap: 1rem;
  color: var(--dark-black);
  font-family: var(--roboto);
}

.get-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.get-button button {
  padding: 15px 25px;
  background-color: var(--black);
  border-radius: 30px;

  letter-spacing: 1px;
}
.get-button button a {
  text-decoration: none;
  font-family: var(--font-family);
  color: white;
  font-size: 1rem;
}
.productivity {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 10px;
}
.to-do {
  display: flex;
  justify-content: center;
}
.todo-img img {
  height: 300px;
  width: 350px;
  /* background-color: rgb(197, 195, 195); */
  border: 1px solid #474746;
  /* opacity: 0.5; */
}
.todo-ct {
  height: 300px;
  width: 350px;
  background-color: rgb(173, 170, 170);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.todo-btn {
  padding: 10px 30px;
  color: var(--White);
  background-color: var(--Black);
  border: none;
  border-radius: 20px;
}
.daily-planner {
  display: flex;
  justify-content: center;
}
.daily-planner-ct {
  height: 300px;
  width: 350px;
  background-color: rgb(173, 170, 170);
}
.daily-planner-img {
  height: 300px;
  width: 350px;
  border: 1px solid #474746;
  opacity: 0.5;
}
.motivational {
  display: flex;
  justify-content: center;
}
.motive-ct {
  height: 300px;
  width: 350px;
  background-color: rgb(173, 170, 170);
}
.motive-img  img{
  height: 300px;
  width: 350px;
  /* object-fit: contain; */
  /* border: 1px solid #474746; */
  /* opacity:  */
}
.promodoro {
  display: flex;
  justify-content: center;
}
.promo-ct {
  height: 300px;
  width: 350px;
  background-color: rgb(173, 170, 170);
}
.promo-img {
  height: 300px;
  width: 350px;
  border: 1px solid #474746;
  opacity: 0.5;
}

.footer {
  height: 300px;
  width: 100%;
  /* background-color: black; */
  position: relative;
  font-family: var(--font-family);
}

.fbox-main {
  display: flex;
}

.fbox1 {
  height: 200px;
  width: 233px;
}
.fbox2 {
  height: 200px;
  width: 233px;

  display: flex;
  align-items: center;
  justify-content: end;
}
.fbox3 {
  height: 200px;
  width: 233px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.fmenu-head {
  display: flex;
  flex-direction: column;
  line-height: 1rem;

  gap: 20px;
}

.fmenu-head li {
  list-style: none;
}

.fmenu-head li a {
  text-decoration: none;
  font-family: var(--font-family);
  color: var(--black);

  font-size: 20px;
  font-weight: 500;
}

.footer p {
  height: 30px;
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  color: var(--black);
  display: flex;
  position: absolute;
  bottom: 0;
  align-items: center;
  justify-content: center;
}
